/* Default */
.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.absolute {
	position:absolute;
}
.relative {
	position:relative;
}
.col-3 {
	position: relative;
	min-height: 1px;
	float: left;
	width:25%;
	max-width:25%;
}
.col-4 {
	position: relative;
	min-height: 1px;
	float: left;
	width:33.3333%;
	max-width:33.3333%;
	margin-bottom: 30px;
}
.clear:after {
	clear: both;
	content: "";
	display: block;
}

/* intro */
.intro-wrap{
	background-color: #000;
	width: 100%;
	height: 100vh;
}
.intro-ani {
	width:80px;
	height:80px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.intro-wrap img{
	position:absolute;
	z-index: 2;
}
.intro-wrap .movie-bar {
	top: 13px;
	left: 3px;
	width: 75px;
	z-index: 1;
	transform: rotateZ(-15deg);
	transition:rotate .5s;
	-webkit-transition:rotate .5s;
	animation: intro_ani .6s cubic-bezier(0.4, 0, 1, 1);
	animation-iteration-count: 2;
	-webkit-animation-iteration-count: 2;
}
@keyframes intro_ani {
	0% {
		top: 13px;
		transform: rotateZ(-15deg);
	}
	100% {
		top: 22px;
		transform: rotateZ(0deg);
	}
}
.intro-text {
	position: absolute;
	color: #fff;
	bottom: -23px;
	margin-left: 16px;
	text-align: center;
	animation: intro_text_ani .7s cubic-bezier(0.4, 0, 1, 1);
}
@keyframes intro_text_ani {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
/* main */
.main-visual {
	position:relative;
	height: 100vh !important;
	padding: 0 20px;
	background-image:url(../res/movie_poster.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size: cover;
	text-align: center;

}
.main-visual:after {
	position:absolute;
	content:'';
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(0,0,0,0.6);
	z-index:1;
}
.main-text-wrap{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
}
h1 {
	margin-bottom: 60px;
	font-size: 32px;
	color:#fff;
}
.sub-text {
	color: #fff;
    font-size: 15px;
    line-height: 1.2;
    overflow: hidden;
    white-space: pre-line;
    word-break: break-all;
    width: 90%;
    height: 56px;
    margin: 0 auto;
}
.more-btn {
	position: absolute;
	left: 50%;
	bottom: 13%;
	width: 160px;
	height: 40px;
	line-height: 40px;
	margin-left: -80px;
	background-color: #09cb63;
	border-radius: 30px;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	z-index: 5;
}
.more-btn a {
	display:block;
}
/* slick custom */
.slick-dots {
	position:absolute;
	bottom:20px;
	width:100%;
	text-align:center;
}
.slick-dots li {
	display:inline-block;
	margin:0 3px;
}
.slick-dots li.slick-active button {
	background: #fafafa;
}
.slick-dots li button {
	width: 8px;
	height: 8px;
	padding: 0;
	background-color:rgba(255,255,255,.3);
	border: 0;
	border-radius: 50%;
	font: 0/0 a;
}
/* sub dots */
.sub-slider .slick-dots {
	right:20px;
	text-align:right;
}
/* sub */
header {
	position:fixed;
	top:0;
	width: 100%;
	height:70px;
	text-align:justify;
	z-index:2;
}

header .btn-icon,
header h2 {
	display:inline-block;
	vertical-align:middle;
}

header .btn-icon{
	padding:20px 25px;
}
header .btn-icon a {
	display:block;
}
header h2 {
	font-size:15px;
	color:#fff;
}

header img {
	width:30px;
}

header:after {
	content: "";
	display: inline-block;
	width: 100%;
}
.contents {
	position:absolute;
	width: calc(100% - 40px);
	padding: 70px 20px 20px;
	z-index: 1;
	pointer-events: none;
}
.contents h2 {
	font-size: 28px;
    color: #fff;
    margin:20px 0 40px;
}
.contents h2 span {
	font-size:22px;
	color:#bbb;
}
.icons-list-group{
	margin-bottom: 40px;
}
.icons-list-group li {
	display:inline-block;
	color:#fff;
	margin: 0 3px;
}
.icons-list-group li img{
	width: 10px;
	/* display: inline-block; */
}
.contents ul li a {
	display:inline-block;
	width: 30px;
	height: 30px;
	line-height: 29px;
	border: 2px solid #fff;
	border-radius:50%;
	text-align: center;
}

.contents-text {
	color:#fff;
}
.contents-text .sec-title {
	margin-bottom: 10px;
	font-weight: 600;
}
.contents-text .decs {
	line-height:1.5;
	font-size:12px;
	margin-bottom: 30px;
}
.crew-group {
	font-size:12px;
}
.crew-group dt {
	font-weight:600;
}
.crew-group dd {
	margin-top: 7px;
	color:#999;
	font-size: 11px;
}

.back-img {
	position:relative;
	width: 100%;
	height: 500px !important;
	/*background-image:url(../res/sub/bg_ex1.jpg);*/
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	/* -webkit-filter: grayscale(100%); Chrome, Safari, Opera
	filter: grayscale(100%); */
}
.back-img:after {
	content:'';
	position:absolute;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.5);

}
.billed-section {
	padding:20px;
}
.billed-section .billed-title {
	font-size: 20px;
}
.billed-group {
	margin-top:10px;
	text-align:center;
}
.billed-group  img {
	display: block;
	content: '';
	width: 80%;
	margin: 0 auto 10px;
	border-radius:50%;
}
.billed-group .casting {
	text-transform: uppercase;
	font-size:12px;
	font-weight:600;
}
.billed-group .casting ~ span {
	font-size:11px;
}