/* Default */
.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.absolute {
	position:absolute;
}
.relative {
	position:relative;
}
.col-3 {
	position: relative;
	min-height: 1px;
	float: left;
	width:25%;
	max-width:25%;
}
.col-4 {
	position: relative;
	min-height: 1px;
	float: left;
	width:33.33%;
	max-width:33.33%;
	margin-bottom: 30px;
}
.clear:after {
	clear: both;
	content: "";
	display: block;
}
.f-l {
	float:left;
}
.f-r{
	float:right;
}
/* 컨텐츠 */
body {
	position:relative;
	background-color:orange;
	height: 100vh;
}
.wrap {
	position:absolute;
	left:50%;
	bottom: -20px;
	width: 570px;
	height:500px;
	border-radius: 20px;
	background-color:#fff;
	font-size: 24px;
	transform: translateX(-50%);
	box-shadow: 0 0 11px 6px rgba(0, 0, 0, 0.2);
}
.title-wrap {
	padding: 40px 30px 30px;
	border-bottom: 1px solid #e8e8f0;
	color: #666afb;
	font-weight: 800;
}
.year {
	margin-bottom: 10px;
}
.month-day {

font-size: 16px;

color: #a4a4b6;

font-weight: 500;
}
.tacks {
	float:right;
	color:#aaa;
}
.task-box {
	width: calc(100% - 105px);
	height: 30px;
	border: 1px solid #595de2;
	padding-left: 10px;
	border-radius: 20px;
	vertical-align: middle;
}
form {
	position:relative;
	padding: 40px 30px 28px;
	text-align: center;
}
form label {
	position:absolute;
	top: 17px;
	font-size: 14px;
	color: #bcbcc8;
	font-weight: 800;
}
form button {
	width: 75px;
	display: inline-block;
	height: 35px;
	background-color: #5b5fe9;
	border-radius: 20px;
	border: none;
	vertical-align: middle;
	text-align: center;
}
form button:after,
form button:before{
	content:'';
	display:inline-block;
	width: 17px;
	height: 3px;
	background-color: #fff;
	transform: translate(0,-7px);
}
form button:before {
	width: 3px;
	height: 17px;
	transform: translateX(10px);
}

/* list */
.todo-wrap {
	padding: 10px 30px;
	border-bottom:1px solid #e9e9f0;
}
.todo-check {
	display: inline-block;
	width: 25px;
	height: 25px;
	border:1px solid #e9e9f0;
	border-radius: 6px;
	background-color: #5c5fe7;
	vertical-align: middle;
}
input[id="checkbox"] {
	 display: none;
}
input[id="checkbox"]:checked ~ .todo-check {
	background-color:#585bdf;
	background-image:url(../img/icon_checkbox_checked.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size: auto;
}
.todo-check:after {
	background-color:#e87b78;
}
.todo-write {
	width: calc(100% - 127px);
	height: 30px;
	border: 1px solid #e9e9f0;
	vertical-align: middle;
}
.btn-modify,
.btn-delete {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../img/icons8-edit-52.png) no-repeat center;
	background-size: contain;
	border: none;
	vertical-align: middle;
}
.btn-delete {
	background:url(../img/icons8-trash-52.png) no-repeat center;
	background-size: contain;
}